<%= form_for(@forum) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= label_tag 'Users' %><br />
    <%= text_area_tag name='users', value = @user_nicks, :class => :text_area %>
    <br/>
    <span class="description_title">Specify users separated by space.</span>
     <br/>
    <span class="description_title">Registered users:</span>
    <span class="description"><%=@users.map{|user| user.nick}.join(', ')%></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
