<body>

  <p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @forum.name %>
</p>
<table class="apttable" >
  <tr>
    <th>#</th>
    <th>Corporate ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Authorities</th>
  </tr>

<%count = 0 %>
<% @users.each do |user| %>
  <tr>
    <td><%=count = count + 1%></td>
    <td><%=user.nick %></td>
    <td><%=user.name %></td>
    <td><%=user.surname %></td>
    <td><%=user.role.name %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @users %>
&nbsp;
<table class="controls">
 <tr>
   <td><%= button_to "Back", forums_path, :method => :get %></td>
 </tr>
</table>

</body>
