<body>
  <p id="notice"><%= notice %></p>
<p>
  
<h1> <%= @forum.name %></h1>
</p>
<table class="apttable" >
  <tr>
    <th>AP # </th>
    <th>Description</th>
    <th>Handlers</th>
    <th>Date/time</th>
    <th>Status</th>
    <th>Author</th>
    <th>Conclusion</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.id , forum_job_path(@forum,job) %></td>
    <td><%= job.description %></td>
    <td>
    <%job.handlers. each do |handler|%>
      <%=handler.nick%>
    <%end %>
      
    </td>
    <td><%=job.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <td><%= job.status %></td>
    <td><%= job.author.nick %></td>
    
    <td><%= job.show_last_conclusion.description if !job.show_last_conclusion.nil? %></td>
  </tr>
<% end %>
</table>


<%= will_paginate @jobs %>
&nbsp;

<table class="controls">
 <tr>
   <td><%= button_to('New action point' , new_forum_job_path(@forum), :method => :get) %> </td>
 </tr>
</table>

</body>
