<body>

<div id="container">
<h1>Forums:</h1>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<table class="apttable">

  <tr>
    
    <%if can? :add_handlers_to_forum, @forum%>
     <th>Forums</th>
     <th colspan="3" > Actions </th>
   <%else%>
     <th id="col1" >№</th>
     <th>Forum Name</th>
    <%end%>
  </tr>
 <%counter = 0%>
<% @forums.each do |forum| %>
  <tr>
    <%if cannot? :add_handlers_to_forum, forum%>
      <td><%= counter +=1 %></td>
      <td><%= link_to forum.name, forum_path(forum) %></td>
    <%end%>
    <%if can? :add_handlers_to_forum, forum%>
      <td><%= forum.name%></td>
      <td><%= link_to 'Users list', forum %></td>
      <td><%= link_to 'Edit forum details', edit_forum_path(forum) %></td>
      <td>
        <% unless forum.private? || forum.free?%>
          <%= link_to 'Remove forum', forum, :confirm => 'Are you sure?', :method => :delete%>
        <%end%>
      </td>
      
    <%end%>
  </tr>
<% end %>
</table>

<%= will_paginate @forums %>

<%if can? :add_handlers_to_forum, @forum%>
  <br/>
  <table class="controls">
    <td><%= button_to 'New Forum', new_forum_path, :method => :get %></td>
  </table>
<%end%>

<div id="clearfooter"></div>
</div>

<div id="footer"> APT Tracker </div>

</body>
