<body>
<h1>Forums:</h1>

<table class="actionpoints">
 <tr>
    <th>Name</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td><%= link_to forum.name, forum_path(forum) %></td>
    
     <td>
    <%= forum.author.nick %></td>
    <td><%= link_to 'Show', forum %></td>
    <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
    <td><%= link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<table class="controls">
  <td><%= button_to 'New Forum', new_forum_path, :method => :get %></td>
</body>