<body style=" background-color: antiquewhite ">
<p id="notice"><%= notice %></p>

<% flash.each do |type, messages| %>
  <%  messages.each do |message|%>
    <div id="<%= type %>">
      <p><%= message%></p>
    </div>
  <% end %>
<% end %>

<p>
  <b>Name:</b>
  <%= @forum.name %>
</p>

<p>
  <b>Author:</b>
  <%= @forum.author.nick %>
</p>

<p>
  <b>Action Points:</b>
</p>

<table border="1" frame="box" cellspacing="1" width="" >
  <tr style=" background-color: burlywood " >
    <th>AP # </th>
    <th>Description</th>
    <th>Handlers</th>
    <th>Author</th>
    <th>Job number</th>
    <th>Status</th>
  </tr>

<% @jobs.each do |job| %>
  <tr style="background-color: lightgrey ">
    <td><%= link_to job.id , forum_job_path(@forum,job) %></td>
    <td><%= job.description %></td>
    <td>
    <%job.handlers. each do |handler|%>
      <%=handler.nick%>
    <%end %>
    </td> 
    <td><%= job.author.nick %></td>
    <td><%= job.job_number %></td>

    <td><%= job.status %></td>


  </tr>
<% end %>
</table>

&nbsp;

<table>
  <tr>
   <td><%= button_to('New action point' , new_forum_job_path(@forum), :method => :get) %> </td>
  </tr>
  <tr>
   <td><%= link_to "Back", forums_path, :method => :get %></td>
  </tr>
</table>

</body>
