<h1>Listing conclusions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conclusions.each do |conclusion| %>
  <tr>
    <td><%= conclusion.job_id %></td>
    <td><%= conclusion.description %></td>
    <td><%= link_to 'Show', conclusion %></td>
    <td><%= link_to 'Edit', edit_conclusion_path(conclusion) %></td>
    <td><%= link_to 'Destroy', conclusion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conclusion', new_conclusion_path %>
