<h2>Update AP on <%= @job.forum.name %></h2>

<%= form_for(@job, :url => job_path) do |f| %>
    <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'AP #' + @job.id.to_s%><br />
  </div>

  <div class="field">
    <%= label_tag :handlers %><br />
    <%= text_field_tag name='handlers', value = @handlers %>
    <br/>
    <span class="description_title">Specify handlers separated by space.</span>
    <br/>
    <span class="description_title">Users assigned to forum:</span>
    <span><%=@forum.users.map{|user| user.nick}.join(', ')%></span>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, job_states %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => :text_area %>
  </div>

  <table class="field">
    <td>
      <%= f.label :due_date %><br />
      <%= f.date_select :due_date %>
    </td>
    <td>
      <%= f.label :due_time %><br />
      <%= f.time_select :due_time %>
    </td>
  </table>

  <div class="field">
    <%= label_tag :conclusion %><br />
    <%= text_area_tag name='conclusion', "",:class => :text_area %>
  </div>

  <table>
    <%@job.sort_conclusions_by_desc.each do |conclusion|%>
        <tr>
          <td><%= conclusion.description %></td>
        </tr>
    <%end%>
  </table>
   <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>


<%= link_to 'Show', job_path %> |
<%= link_to 'Back', forum_path(@forum) %>
