<body>
  <div id="container">
<h1><%= @type %></h1>

<table class="apttable" >
  <tr>
    <th>AP # </th>
    <th>Description</th>
    <th>Handlers</th>
    <th>Forum</th>
    <th>Date/time</th>
    <th>Status</th>
    <th>Author</th>
    <th>Conclusion</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.id , forum_job_path(job.forum,job) %></td>
    <td><%= job.description %></td>
    <td>
      <%job.handlers. each do |handler|%>
        <%=handler.nick%>
      <%end %>
    </td>
    <%unless job.forum.apt_bugs?%>
      <td><%= link_to job.forum.name, job.forum %></td>
    <%end%>
    <%if job.forum.apt_bugs?%>
      <td><%= job.forum.name%></td>
    <%end%>

    <td><%= job.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <td><%= job.status %></td>
    <td><%= job.author.nick %></td>

    <td><%= job.show_last_conclusion.description if !job.show_last_conclusion.nil? %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @jobs %>
&nbsp;

<table class="controls">
  <tr>
    <%if can? :read, @forum%>
      <td><%= button_to('New action point' , new_job_path, :method => :get) %> </td>
    <%end%>
  </tr>
</table>

  </div>
  <div id="footer"> APT Tracker </div>
</body>
