<body>

  <div >
  <% flash.each do |type, messages| %>
    <%  messages.each do |message|%>
      <div id="<%= type %>">
        <p><%= message%></p>
      </div>
    <% end %>
  <% end %>
</div>

<br/>

<table class="apttable" >
  <tr>
    <th>AP # </th>
    <th>Description</th>
    <th>Handlers</th>
    <th>Date/time</th>
    <th>Status</th>
    <th>Author</th>
    <th>Conclusion</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.id , job_path(job) %></td>
    <td><%= job.description %></td>
    <td>
    <%job.handlers. each do |handler|%>
      <%=handler.nick%>
    <%end %>

    </td>
    <td><%=job.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <td><%= job.status %></td>
    <td><%= job.author.nick %></td>

    <td><%= job.show_last_conclusion.description if !job.show_last_conclusion.nil? %></td>
  </tr>
<% end %>
</table>

&nbsp;

<table class="controls">
 <tr>
   <td><%= button_to('New action point' , new_job_path, :method => :get) %> </td>
 </tr>
</table>

</body>
