<h2>Add new AP</h2>
<%= form_for(@job) do |f| %>
  
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :forum %><br />
    <%= f.select :forum_id, options_from_collection_for_select(current_user.forums, "id", "name")%>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= label_tag 'Assigned to' %><br />
    <%= text_field_tag name='handlers', value = @handlers %>
  </div>
  <div class="field">
    <%= label_tag :due_date %><br />
    <%= f.date_select :due_date%>
  </div>
  <div class="field">
    <%= label_tag :due_time %><br />
    <%= f.time_select :due_time%>
  </div>

  <div class="controls">
    <%= f.submit 'Save' %>
  </div>
<%end%>
<p></p>
<%= button_to 'Back', forums_path(@forum), :method => :get %>
