<p id="notice"><%= notice %></p>

<table class="apttable">
  <tr>
    <th>AP #</th>
    <th>Author</th>
    <th>Handlers</th>
    <th>Status</th>
    <th>Description</th>
    <th>Due date and time:</th>
  </tr>
  <tr>
    <td><%= @job.id %></td>
    <td><%= @job.author.nick %></td>
    <td>  <%@job.handlers.map{|h| h.nick}.each do |handler| %>
    <%=  handler %>
  <%end%>
    </td>
    <td><%= @job.status %></td>
    <td><%= @job.description %></td>
    <td><%= @job.due_date.strftime("%d.%m.%Y") %>&nbsp;<%= @job.due_time.strftime("%H:%M") %></td>
  </tr>
  
</table>

<p></p>

<table class="apttable">
  <tr>
  <th>History:</th>
  </tr>
  <%@job.sort_conclusions_by_desc.each do |conclusion|%>
    <tr>
      <td><%= conclusion.description if !conclusion.nil? %></td>
    </tr>
  <%end%>
</table>

<table class="controls">
  <tr>
    <td><%= button_to 'Edit', edit_job_path, :method => :get %></td>
    <td><%= button_to 'Back', forum_path(@forum), :method => :get %></td>
  </tr>
</table>