<h1>Users</h1>
<table class="apttable">
  <tr>
    <th>Nick</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Authorities</th>
    <th colspan="2" >Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.nick%></td>
    <td><%= user.name %></td>
    <td><%= user.surname %></td>
    <td><%= user.role.name %></td>
    <td class="controls">
      <%= link_to "Edit user", edit_user_path(user) %>
    <td>
      <%if !user.admin?%>
        <%= link_to "Delete user", user, :method => :delete, :confirm => 'Are you sure?'%>
      <%end%>
    </td>
    </td>
  </tr>
<% end %>
</table>
<br />
<table class="controls">
    <td>
      <%= button_to 'New User', new_user_path, :method => :get %>
    </td>
</table>