<h1>Listing users</h1>
<table class="actionpoints">
  <tr>
    <th>Nick</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Authorities</th>
    <th>Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.nick%></td>
    <td><%= user.name %></td>
    <td><%= user.surname %></td>
    <td><%= user.role.name %></td>
    <td class="controls">
      <%= link_to image_tag("/images/button_edit.png"), edit_user_path(user) %>
      <%if !user.admin?%>
        <%= link_to image_tag("/images/button_delete.png"), user, :method => :delete, :confirm => 'Are you sure?'%>
      <%end%>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New User', new_user_path, :method => :get %>
