
<div id="container">
<p id="notice"><%= notice %></p>

<p>
  <b>Nick:</b>
  <%= @user.nick %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @user.surname %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

  </div>
  <div id="footer"> APT Tracker </div>