<!DOCTYPE html>
<html>
<head>
  <title>APT</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

 <% if current_user %>

<table class="tablelogin">
  <tr>
    <th>
     <%if current_user.role? :super_user%>
        <%=  "Greetings Master" %>
      <%else%>
        <%=  "Hello #{current_user.name == "" ? current_user.nick : current_user.name}." %>
      <%end%>
    </th>
    <td><%= button_to "Edit Profile", edit_user_path(current_user.id), :method => :get%></td>
    <td class="logoutbutton" ><%= button_to "Logout", :logout %></td>
  </tr>
</table>
  
<% flash.each do |type, message| %>
  <%if type == :access_denied %>
    <table id="<%= type %>">
      <tr>
        <th><%= message%></th>
      </tr>
    </table>
  <%end%>
<% end %>

<div id="slantedmenu">
 <ul>
  <%if can? :update,@users%>
    <li><%= link_to'Add User', new_user_path%></li>
    <li><%= link_to'Users', users_path%></li>
  <%end%>
  <li><%= link_to'New AP' , new_job_path(:type => 'new_ap')%></li>
  <li><%= link_to'My AP', jobs_path(:type => 'assigned_to_me'),%></li>
  <li><%= link_to'AP assigned by me', jobs_path(:type => 'assigned_by_me'),%></li>
  <li><%= link_to'Free AP', @forum_free%></li>
  <li><%= link_to'Private AP', @forum_private%></li>
  <%if can? :update, @forums%>
    <li><%= link_to'New Forum', new_forum_path%></li>
  <%end%>
  <li><%= link_to'Forums', forums_path%></li>
  <%if @forum_apt_bugs%>
      <li><%= link_to "Report bug", new_forum_job_path(@forum_apt_bugs)%></li>
      <li><%= link_to "Show my bugs", jobs_path(:type => 'reported_bugs')%></li>
  <%end%>
 </ul>
</div>  
<%end %>

<%= yield %>

</body>
</html>
